@model BlackSwan.Accounting.IndividualIncomeTax.TaxRates2011

<h3>
    <a href="#" class="label label-warning" data-toggle="collapse" data-target="#taxRatesYear2011" onclick="togglePlusIcon('#taxRatesYear2011ToggleIcon');">
        <span id="taxRatesYear2011ToggleIcon" class="glyphicon glyphicon-plus" style="padding-right: 10px;"></span>
        @Model.Description
    </a>
</h3>

<div id="taxRatesYear2011" class="collapse">
    <div class="row">
        <div class="col-md-6">
            @Html.DisplayFor(m => m.IncomeTaxRates, "ThresholdRatesTemplate", new { Title = Html.DisplayNameFor(m => m.IncomeTaxRates) })
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(m => m.MedicareLevyRates, "ThresholdRatesTemplate", new { Title = Html.DisplayNameFor(m => m.MedicareLevyRates) })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.DisplayFor(m => m.FloodLevyRates, "ThresholdRatesTemplate", new { Title = Html.DisplayNameFor(m => m.FloodLevyRates) })
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(m => m.LowIncomeTaxOffsetRate, new { Title = Html.DisplayNameFor(m => m.LowIncomeTaxOffsetRate) })
        </div>
    </div>
</div>