@model BlackSwan.Accounting.IndividualIncomeTax.Year2014To2015.TaxRates

<h3>
    <span class="label label-warning">
        <span class="glyphicon glyphicon-plus" style="padding-right: 10px;" onclick="toggleDisplay('#taxRatesYear2014', this);"></span>
        @Model.Description
    </span>
</h3>

<div id="taxRatesYear2014" class="hide">
    <div class="row">
        <div class="col-md-6">
            @Html.DisplayFor(m => m.IncomeTaxRates, "ThresholdRatesTemplate", new { Title = Html.DisplayNameFor(m => m.IncomeTaxRates) })
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(m => m.MedicareLevyRates, "ThresholdRatesTemplate", new { Title = Html.DisplayNameFor(m => m.MedicareLevyRates) })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.DisplayFor(m => m.BudgetRepairLevyRates, "ThresholdRatesTemplate", new { Title = Html.DisplayNameFor(m => m.BudgetRepairLevyRates) })
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(m => m.LowIncomeTaxOffsetRate, new { Title = Html.DisplayNameFor(m => m.LowIncomeTaxOffsetRate) })
        </div>
    </div>
</div>
