@model BlackSwan.Accounting.Web.Models.TaxCalculateViewModel

@{
    ViewBag.Title = "Tax Calculator";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    var taxRatesList = ViewBag.TaxRatesList as IEnumerable<SelectListItem>;
}

<h1 class="page-header">@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.SelectedYear, taxRatesList, new {@class = "form-control input-lg"})
        </div>
    
        <div class="col-md-6">
            <div class="input-group input-group-lg">
                @Html.TextBoxFor(m => m.TaxableIncome, new {@class = "form-control", style = "min-width: 280px;", placeholder = "Your taxable income amount"})
                <span class="input-group-btn">
                    <button class="btn btn-success btn-lg">Calculate</button>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.TaxableIncome)
        </div>
    </div>
}

@if (Model != null && Model.Result != null)
{
    <div class="container">
        <div class="row">
            @Html.Partial(Model.Result.DisplayName, Model.Result)
        </div>
    </div>
}
