@model BlackSwan.Accounting.IndividualIncomeTax.Common.LowIncomeTaxOffsetRate

<div class="panel panel-info">
    <div class="panel-heading">
        <strong>@ViewData["Title"]</strong>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Income Range</th>
            <th>Offset</th>
        </tr>
        <tr>
            <td>@string.Format("{0:C0}", 0) ~ @Html.DisplayFor(m => m.StartAmount)</td>
            <td>@Html.DisplayFor(m => m.FullTaxOffsetAmount)</td>
        </tr>
        <tr>
            <td>Over @Html.DisplayFor(m => m.StartAmount)</td>
            <td>
                @Html.DisplayFor(m => m.FullTaxOffsetAmount)
            -
            (Income - @Html.DisplayFor(m => m.StartAmount)) X @Html.DisplayFor(m => m.Rate)
            <p>until reaches 0</p>
        </td>
    </tr>
</table>

</div>

